@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: "Merriweather";
}

.nav-bar{
    display: flex;
    padding: 10px;
}

.nav-bar .nav-bar-img{
    display: flex;
}

.nav-bar .nav-bar-img .logo{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.nav-bar .nav-bar-img .logo-text{
    margin-left: 10px;
}

.nav-bar ul{
    display: flex;
    margin: 0;
}

.nav-bar ul li{
    margin-left: 50px;
    list-style-type: none;
}

.infos{
    margin-top: 15vh;
    padding: 10px;
}

.infos .already-a-member{
    display: flex;
}