@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body{
    min-width: 587px;
}

header .container{
    width: 100%;
    top: 0;
}

footer .container{
    width: 100%;
}

header .container .nav{
    display: flex;
    width: 100%;
    background-color: #151d27;
    align-items: center;
    justify-content: space-between;
}

header .container .logo img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

header .container .logo{
    padding: 20px;
}

header .container .brand-name{
    color: #fefefe;
    padding: 10px;
}

header .container .more{
    padding: 10px;
}

header .container .more i{
    font-size: 24px;
    color: #fefefe;
}

header .container .search-form{
    padding: 10px;
}

header .container .search-form form{
    background-color: #263241;
    border-radius: 5px;
}

header .container .search-form form input{
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
    background-color: #263241;
    outline: none;
}

header .container .search-form form input::placeholder{
    color: #94a3b4;
}

header .container .search-form form button{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
    background-color: #263241;
    color: #94a3b4;
}

header .container .chart{
    padding: 10px;
}

header .container .chart form{
    background-color: #263241;
    border-radius: 5px;
}

header .container .chart form input{
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
    background-color: #263241;
}

header .container .chart form button{
    border: none;
    border-radius: 5px;
    width: 20px;
    height: 40px;
    background-color: #263241;
    color: #94a3b4;
    justify-content: center;
    align-items: center;
}

header .container .user{
    color: #f9f9f9;
    padding: 10px;
    display: flex;
}

header .container .user .icon{
    margin-right: 10px;
}

header .container .nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

header .container .nav .left,
header .container .nav .mid,
header .container .nav .right{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container{
    width: 100%;
    height: 100%;
    background-color: #151d27a8;
    color: #f9f9f9;
    justify-content: center;
}

main .container .product-show{
    background-color: #151d2783;
    padding: 50px 200px;
}

main .container .product-show .brand{
    display: flex;
    justify-content: space-between;
}

main .container .product-show .brand button{
    margin-left: 20px;
    width: 100px;
    border: 1px solid #0094c5;
    border-radius: 5px;
    background-color: #06749b;
    color: #f9f9f9;
    font-weight: bold;
}

main .container .product-show .cards .card{
    width: 220px;
    height: 190px;
    border-radius: 10px;
    margin-top: 20px;
    /* border: 1px solid; */
    border: none;
    background-color: #263241;
    min-width: 200px;
}

main .container .product-show .cards .card img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main .container .product-show .cards{
    display: flex;
}

main .container .product-show .cards .card{
    margin: 15px 10px;
}

main .container .product-show .cards .card .text{
    margin: 0px 10px;
}

main .container .product-show .cards .card .price-cart{
    margin: 0px 10px;
    text-align: right;
}

main .container .product-show .cards .card .price-cart button{
    border-radius: 3px;
    border: none;
    padding: 3px 10px;
    background-color: #384657;
    color: #f9f9f9;
    font-weight: bold;
}

footer{
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    display: flex;
}

footer .container{
    width: 100%;
    padding: 20px 100px;
    background-color: #010611;
}

footer .container .parts{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

footer .container .parts hr{
    width: 100%;
    margin: 10px 0px;
    border-color: #1e2937;
}

footer .container .parts .part-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #828e88;
}

footer .container .parts .part-1 .links{
    display: flex;
}

footer .container .parts .part-1 .links p{
    margin: 0px 20px;
}

footer .container .parts .part-1 .lang{
    margin-right: 20px;
}

footer .container .parts .part-2{
    width: 100%;
}

footer .container .parts .part-2 h4{
    margin: 0px 20px;
    color: #f9f9f9;
}

footer .container .parts .part-2 .medias{
    display: flex;
}

footer .container .parts .part-2 .medias ul li{
    list-style: none;
    margin: 20px 20px
}

footer .container .parts .part-2 .medias ul li a{
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5PX;
    padding: 10px;
    background-color: #263241;
}

footer .container .part-2 .medias ul{
    display: flex;
}

footer .container .parts .part-2 .medias ul li a#facebook i{
    color: #5b79a8;
}

footer .container .parts .part-2 .medias ul li a#twitter i{
    color: #63b3ff;
}

footer .container .parts .part-2 .medias ul li a#youtube i{
    color: #ee2b3b;
}

footer .container .parts .part-2 .medias ul li a#instagram i{
    color: #f30157;
}

footer .container .parts .part-2 .medias ul li a#twitch i{
    color: #6c8ada;
}

footer .container .parts .part-2 .medias ul li a#facebook:hover{
    color: #5b79a8;
    background-color: white;
    transition: 0.5s;
}

footer .container .parts .part-2 .medias ul li a#twitter:hover{
    color: #63b3ff;
    background-color: white;
    transition: 0.5s;
}

footer .container .parts .part-2 .medias ul li a#youtube:hover{
    color: #ee2b3b;
    background-color: white;
    transition: 0.5s;
}

footer .container .parts .part-2 .medias ul li a#instagram:hover{
    color: #f30157;
    background-color: white;
    transition: 0.5s;
}

footer .container .parts .part-2 .medias ul li a#twitch:hover{
    color: #6c8ada;
    background-color: white;
    transition: 0.5s;
}

/* Estilização dos botões dropdown */

.dropdown{
    padding: 0px 15px;
}

.dropdown-btn {
    display: flex;
    /* padding: 10px; */
    font-size: 16px;
    border: none;
    border-bottom: solid #f9f9f9;
    cursor: pointer;
    background-color: transparent;
    color: #f9f9f9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

  /* Mostrar o dropdown quando o botão é hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-btn .icon{
    margin-left: 10px;
}

/* **** */

@media (max-width: 1500px) {
    main .container .product-show{
        background-color: #151d2783;
        padding: 50px 50px;
    }
}

@media (max-width: 1200px) {
    main .container .product-show .cards{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 1040px) {
    header .container .nav .mid{
        display: none;
    }

    main .container .product-show .cards{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    footer .container .part-1 .links{
        flex-direction: column;
    }

    footer .container .part-2 .medias ul{
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 785px) {
    main .container .product-show .cards{
        display: grid;
        grid-template-columns: auto auto;
    }
}