@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: rgb(62, 62, 62);
    font-size: 18px;
}

body{
    background-color: #ebebeb;
    height: 100vh;
    min-width: 1000px;
}

/* Estilização do header */

.header-container{
    min-width: 1000px;
}

header .grid-item img{
    width: 200px;
    height: 80px;
    border-radius: 10px;  
}

header .header-grid{
    display: grid;
    grid-template-columns: 15% 60% 25%;
    padding: 10px;
    background-color: #ffe600;
    overflow: hidden;
}

header .header-grid .grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-grid .grid-item .postal-info{
    display: flex;
}

header .header-grid .grid-item .postal-info .icon{
    margin-right: 10px;
    font-size: 25px;
}

header .header-grid .grid-item .menu-links{
    width: 100%;
}

header .header-grid .grid-item .menu-links ul{
    display: flex;
    list-style: none;
}

header .header-grid .grid-item .menu-links-personal ul{
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
}

header .header-grid .grid-item .menu-links-personal{
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
}

header .header-grid .grid-item .menu-links-personal ul li i{
    font-size: 25px;
}

header .header-grid .grid-item .menu-links-personal ul li{
    margin-right: 20px;
}

header .header-grid .grid-item .menu-links ul li{
    margin-right: 20px;
}

header .header-grid .grid-item form{
    width: 100%;
    display: flex;
    justify-content: center;
}

header .header-grid .grid-item form input[type="text"]{
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    text-indent: 20px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    outline: none;
}

header .header-grid .grid-item form input[type="text"]:focus{
    background-color: #ebebeb;
}

header .header-grid .grid-item form button{
    width: 10%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    border-left: 1px solid rgb(187, 187, 187);
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

header .header-grid .grid-item form button:hover{
    background-color: #ebebeb;
}

/* Estilização da main */

main{
    width: 100%;
    height: 100%;
}

main .offers-img{
   width: 100%;
   height: 80%;
   min-width: 1000px;
   min-height: 500px;
}

main .offers-img img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main .container{
    position: relative;
    overflow: hidden;
}

main .fast-options{
    display: flex;
    align-items: center;
    transform: translateY(-100px);
    z-index: 1;
    padding: 50px;
    /* overflow: hidden; */
}

main .fast-options .caroussel{
    display: flex;
}

main .prev-button button{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    font-size: 50px;
    left: 0;
    /* transform: translateY(-30px); */
    position: absolute;
    z-index: 2;
    margin-top: 30px;
    background-color: #ffffff;
    color: #458dfa;
    border: 1px solid;
}

main .prev-button button:hover{
    cursor: pointer;
}

main .next-button button{
    border-radius: 100%;
    width: 100px;
    height: 100px;
    font-size: 50px;
    right: 0;
    /* transform: translateY(-30px); */
    position: absolute;
    z-index: 2;
    margin-top: 30px;
    background-color: #ffffff;
    color: #458dfa;
    border: 1px solid;
}

main .next-button button:hover{
    cursor: pointer;
}

main .card-container{
    padding: 10px;
    min-width: 200px;
    /* transform: translateY(-100px); */
    z-index: 1;
}

main .card-container .card:hover,
main .card-container .card button:hover{
    cursor: pointer;
}

main .fast-options .card{
    width: 200px;
    /* border: 1px solid red; */
    border-radius: 5px;
    background-color: white;
    height: 250px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

main .fast-options .card .card-title{
    padding: 10px;
    text-align: center;
}

main .fast-options .card .card-title h2{
    color: rgb(0, 174, 255);
}

main .fast-options .card .card-icon{
    padding: 10px;
    text-align: center;
    height: 50px;
}

main .fast-options .card .card-icon i{
    font-size: 50px;
}

main .fast-options .card .card-msg{
    padding: 10px;
    text-align: center;
    height: 50px;
}

main .fast-options .card .card-msg p{
    font-size: 15px;
}

main .fast-options .card .card-button{
    padding: 10px;
    text-align: center;
}

main .fast-options .card .card-button button{
    border-radius: 5px;
    background-color: #e2ecfa;
    border: none;
    color: #3e89fa;
    font-size: 12px;
    padding: 10px 20px;
    font-weight: bold;
    width: 150px;
}